[submodule "rails-back"]
	path = rails-back
	url = https://github.com/iannguyen/rails-back-gospot.git
[submodule "ember-front"]
	path = ember-front
	url = https://github.com/iannguyen/ember-front-gospot.git
